<nav class="bottom-nav">
  <ul>
    <li>
      <a href="/">
        <img src="/assets/logo.svg" class="{% if currentPage == 'snappmaps' %}active{% endif %}" alt="Snappmaps">
      </a>
    </li>
    <li>
      <a href="/snappmaps">
        <img src="/assets/group.svg" class="{% if currentPage == 'groups' %}active{% endif %}" alt="Groups">
      </a>
    </li>
    <li>
      <a href="#">
        <img src="/assets/user.svg" alt="User">
      </a>
    </li>
  </ul>
</nav>
